<div id="fondoResult" >
<div class="container text-center" id="contenerdor">
  <div class="row" id="contImagen">
    <div class="col text-ini">
      <img id="logo" src="assets/images/logo.png" alt="image">
    </div>

  </div>
  <div class="row " >
    <div class="col " id="cartas">
      <div class="card text-bg-light  mb-3   "  id="card1">
        <img src="assets/images/mapeo.jpeg" class="card-img-top" alt="..." id="image1">
        <div class="card-body">
          <h4 class="card-title">Mapeo Tela</h4>
          <p class="card-text">Formulario para registrar el mapeo de un rollo de tela</p>
          <a href="/mapeo" class="btn btn-outline-primary" >Mapeo</a>
        </div>
      </div>
      <div class="card text-bg-light  mb-3 " id="card2">
        <img src="assets/images/corte.jpeg" class="card-img-top" alt="..." id="image2">
        <div class="card-body">
          <h4 class="card-title">Corte Tela</h4>
          <p class="card-text">Rangos de corte, del rollo seleccionado </p>
          <a href="/resultados" class="btn btn-outline-primary">Corte</a>
        </div>
      </div>
    </div>


  </div>
</div>
</div>
